:host {
  .custom-card {
    padding: 10px;
    cursor: pointer;

    &:hover {
      color: #14897d;
    }

    .card-header {
      text-align: center;
      background: linear-gradient(
        14deg,
        var(--fotos-backround-gardient-start) 0%,
        var(--fotos-backround-gardient-end) 100%
      );

      .card-img {
        max-width: 100%;
        height: auto;
      }
    }

    .card-body {
      text-align: center;
      padding: 15px;

      .card-title {
        font-size: 1.25rem;
        margin: 0;
        font-weight: bold;
      }
    }
    .card-img {
      filter: grayscale(100%);
      transform: rotate(-4deg);
      transition: all 0.3s ease;

      &:hover {
        transform: rotate(0);
        transition: transform 0.3s ease;
        filter: grayscale(0%);
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    .toggle-content-button {
      position: relative;

      &.more::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        transform: rotate(45deg) translateX(-4px);
        border-right: 2px solid;
        border-bottom: 2px solid;
        top: 50%;
        right: 1.25rem;
        margin-top: -5px;
      }
      &.less::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        transform: rotate(225deg) translateX(-2px);
        border-right: 2px solid;
        border-bottom: 2px solid;
        top: 50%;
        right: 1.7rem;
        margin-top: -4px;
      }
    }
  }
}
