.wp-block-lazyblock-teaser {
    margin-bottom: 2rem;

    .teaser-headline-text {
        margin: 2rem auto;
    }


  .introduction-text {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    text-align: left; //maybe center will be better
  }
}