@import "../../../../variables.scss";
@import "../../login-button/login-button.component.scss";
@import "../../../../mixins.scss";

.hamburger-menu {
  width: 45px;
  height: 40px;
  position: relative;
  line-height: 1;
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 0.25rem;
  top: 20%;
  margin-left: auto;
  span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--color-white);
    transform: translate(-50%, -50%);
    transition: all 0.05s;
    &:nth-of-type(2) {
      top: calc(50% - 6px);
    }
    &:nth-of-type(3) {
      top: calc(50% + 6px);
    }
  }
  &.open {
    span {
      &:first-of-type {
        opacity: 0;
      }
      &:nth-of-type(2) {
        transform: translate(-50%, -50%) rotate(45deg);
        top: 50%;
      }
      &:nth-of-type(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
        top: 50%;
      }
    }
  }
}

:host {
  background-color: var(--menu-background-color);
  box-shadow: var(--box-shadow);
  padding: 0.4rem 1rem;
  position: sticky;
  display: block;
  top: 0;

  .submenu__title {
    background-color: transparent;
    border: none;
    font-family: inherit;
  }

  .mobile-menu-trigger {
    display: flex;
    justify-content: flex-end;
  }

  nav {
    top: 0;

    > ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      @include respond-below(md) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      > li {
        margin: 0 0.5rem;

        a,
        .submenu__title {
          text-decoration: none;
          text-align: center;
          display: inline-block;
          color: var(--color-white);
          font-size: 1.125rem;

          &:focus {
            outline: none;
          }
        }

        > a,
        .submenu__title {
          padding: 1rem 0.7rem;
          border-top: 3px solid transparent;
          transition: var(--var-transition);

          &:hover,
          &:focus {
            border-top-color: var(--menu-item-color);
            color: var(--menu-item-color);
          }
        }
      }
    }

    ul {
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;

      li {
        padding: 0;
      }
    }
  }

  .submenu {
    position: relative;
    @include respond-below(md) {
      width: 100%;
      text-align: center;
    }

    .submenu__title {
      display: inline-flex;
      align-items: center;
      position: relative;
      // @include respond-below(md) {
      //   width: 100%;
      //   justify-content: center;
      // }
      &::after {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 50%;
        width: 8px;
        height: 8px;
        transform: rotate(45deg) translateX(-4px);
        border-right: 2px solid ;
        border-bottom: 2px solid;
      }
    }

    .submenu__menu {
      position: absolute;
      min-width: 15ch;
      left: 50%;
      top: calc(100% - 0.1rem);
      transition: var(--var-transition);
      transform: rotateX(-90deg) translateX(-50%);
      transform-origin: top center;
      visibility: hidden;
      opacity: 0.3;
      padding: 0.5em 0;
      background-color: var(--color-white);
      border-radius: 4px;
      box-shadow: 0 0.15em 0.25em rgba(black, 0.25);
      @include respond-below(md) {
        background-color: #1c212d;
        box-shadow: inset 0 0 8px rgba(black, 0.3);
      }
      a {
        color: var(--color-text-primary-dark);
        @include respond-below(md) {
          color: var(--color-white);
        }
        display: block;
        padding: 0.5em;
        opacity: 0;
        transition: var(--var-transition);

        &:hover {
          background-color: rgba(30, 30, 30, 0.15);
        }

        &:focus {
          outline: none;
          background-color: rgba(30, 30, 30, 0.25);
          @include respond-below(md) {
            background-color: rgba(30, 30, 30, 0.1);
            color: var(--menu-item-color);
          }
        }
      }
    }

    @include respond-above(md) {
      &:after {
        content: "";
        border: 0.5rem solid transparent;
        border-bottom-color: var(--color-white);
        position: absolute;
        top: calc(100% - 1rem);
        left: 50%;
        transform: translateX(-50%);
        transition: var(--var-transition);
        opacity: 0;
        will-change: opacity;
      }
    }
    &:hover,
    &:focus-within {
      .submenu__title {
        border-top-color: var(--menu-item-color);
      }
      .submenu__menu {
        opacity: 1;
        transform: rotateX(0) translateX(-50%);
        visibility: visible;
        margin-top: 1rem;
        @include respond-below(md) {
          position: relative;
        }
        a {
          opacity: 1;
        }
      }
      &:after {
        margin-top: 1rem;
        opacity: 1;
      }
    }
  }
}
