<header class="container">
  <div class="row">
    <div class="col-sm-4">
      <a routerLink="/">
        <img src="../../../../assets/devday-logo.svg" alt="Dev Day" width="175" height="59">
      </a>
    </div>
    <div class="col-sm-8 hamburger">
      <div class="hamburger-menu" [ngClass]="{ 'open': isMenuOpen }" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="col-sm-8 " id="menu-container">
      <nav *ngIf="menuItems" aria-label="Main Navigation" [ngClass]="{ 'open': isMenuOpen }">
        <ul>
          <ng-container *ngFor="let menuItem of menuItems">
            <li *ngIf="!menuItem.children">
              <a [routerLink]="['/page/'+menuItem.pageId]" routerLinkActive="router-link-active">{{menuItem.title}}</a>
            </li>
            <li *ngIf="menuItem.children" class="dropdown">
              <!-- aria-expanded needs managed with Javascript -->
              <button type="button" class="dropdown__title" aria-expanded="false" aria-controls="sweets-dropdown">
                {{menuItem.title}}&nbsp;&nbsp;
              </button>
              <ul class="dropdown__menu" id="sweets-dropdown">
                <li *ngFor="let subItem of menuItem.children">
                  <a [routerLink]="['/page/'+subItem.pageId]"
                    routerLinkActive="router-link-active">{{subItem.title}}</a>
                </li>
              </ul>
            </li>
          </ng-container>
        </ul>
      </nav>
    </div>
    
  </div>
</header>